.aside {
    /* background-color: #282c34; */
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.advertisment-1 {
    color: aqua;
    text-align: start;
    font-style: italic;
    margin: 0;
    width: 250px;    
}

.advertisment-2 {
    color: coral;
    text-align: end;
    font-style: bold;
    margin: 0;
    width: 250px;
    
}


