.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(59, 53, 53, 0.87);
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
  }

  button[type="submit"] {
    background-color: #27ae60;    
  }
  
  button[type="submit"]:hover {
    background-color: #219150;
  }